@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  font-family: sans-serif;
  background-color: ghostwhite;
  font-family: 'Roboto', sans-serif;
}
.text-center{
	text-align: center;
}
.bg-red{
	background-color:indianred;
}
.mx-auto{
  margin:auto;
}
.button{
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 69px;
    height: 55px;

}
.button:hover{
	background-color: yellow;
}
.flex{
display: flex;
}
.flex-col{
	flex-direction: column;
}
.item-center{
	align-items: center;
}
.row{
	margin: 1px 0;
}
.row input{
		font-size: 23px;
		text-align: right;
    margin: -10px 20px 9px 27px;
    padding: 14px 2px;
    border: 2px solid black;
    border-radius: 5px;
}
#expain{
	width: 145px;
}
.button-col{
	background-color:crimson;
}
h1{
	background-color: black;
	color: white;
}
